<nav class="nav">
    <div class="container" style="background-color: rgb(0, 0, 0, 0.5); width: 10000px; height: 100px; ">
        <div class="logo">
            <a href="#"><img  src="assets/TECHversity.jpg" height="100px" width="100%"  alt="logo"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="about">About</a></li>
                <li><a href="studentstatic">Student</a></li>
                <li><a href="facultystatic">Faculty</a></li>
                <li><a href="departmentstatic">Department</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
  </nav>
