



<html lang="en">
    <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    </style>
    </head>
    <body>
    
      <app-header></app-header>
    
    <!-- Header -->
    <header class="w3-container w3-center" style="padding:150px 20px ">
      <h1 class="w3-margin w3-jumbo" style="height: 100px;"><b>FACULTY</b></h1>
      <p class="w3-xlarge"></p>
    <!--   <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"></button>
     --></header>
    
    <!-- table -->
    
    <div class="wrapper">
    
        <div>
            <h1>Administration Head Directory
            </h1>
        </div>
        <div class="table">
          
          
          <div class="row header">
            <div class="cell">
              Name
            </div>
            <div class="cell">
              Age
            </div>
            <div class="cell">
              Occupation
            </div>
            <div class="cell">
              Location
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr. lohithreddy
            </div>
            <div class="cell" data-title="Gender">
              male
            </div>
            <div class="cell" data-title="Designation">
              Director
            </div>
            <div class="cell" data-title="Email">
              lohith@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.Adhvaith
            </div>
            <div class="cell" data-title="Gender">
              male
            </div>
            <div class="cell" data-title="Designation">
              Founder
            </div>
            <div class="cell" data-title="Email">
              nair@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.Bala
            </div>
            <div class="cell" data-title="Gender">
              male
            </div>
            <div class="cell" data-title="Designation">
              Co-founder
            </div>
            <div class="cell" data-title="Email">
              bala@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.Ramkumar
            </div>
            <div class="cell" data-title="Gender">
              male
            </div>
            <div class="cell" data-title="Designation">
              Register
            </div>
            <div class="cell" data-title="Email">
              ram@.ac.in
            </div>
          </div>
          
        </div>
        
        <div class="table">
            <div>
                <h1>HOD Directory
                </h1>
            </div>
          
          <div class="row header green">
            <div class="cell">
              Name
            </div>
            <div class="cell">
              Gender
            </div>
            <div class="cell">
                Designation
            </div>
            <div class="cell">
              Department
            </div>
            <div class="cell">
              Email
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
                Dr. Nidhi M	
            </div>
            <div class="cell" data-title="Gender">
              Female
            </div>
            <div class="cell" data-title="Designation">
                Assistant Professor	
            </div>
            <div class="cell" data-title="Department">
              Civil
            </div>
            <div class="cell" data-title="Email">
              nidhi@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
                Dr. Harigovindan V P	
            </div>
            <div class="cell" data-title="Gender">
               male
            </div>
            <div class="cell" data-title="Designation">
                Associate Professor	
            </div>
            <div class="cell" data-title="Department">
              ECE
            </div>
            <div class="cell" data-title="Email">
              hari@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
                Dr. Venkatesan M	
            </div>
            <div class="cell" data-title="Gender">
              male
            </div>
            <div class="cell" data-title="Designation">
                Assistant Professor	
            </div>
            <div class="cell" data-title="Department">
              CSE
            </div>
            <div class="cell" data-title="Email">
              venky@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
                Dr. Venkadesan .A	
            </div>
            <div class="cell" data-title="Gender">
              male
            </div>
            <div class="cell" data-title="Designation">
                Assistant Professor	
            </div>
            <div class="cell" data-title="Department">
              EEE
            </div>
            <div class="cell" data-title="Email">
              venka@.ac.in
            </div>
          </div>
    
          <div class="row">
            <div class="cell" data-title="Name">
                Dr. Sivaram . N. M	        </div>
            <div class="cell" data-title="Gender">
              male
            </div>
            <div class="cell" data-title="Designation">
                Assistant Professor	
            </div>
            <div class="cell" data-title="Department">
              Mechanical
            </div>
            <div class="cell" data-title="Email">
              Sivaram@.ac.in
            </div>
          </div>
          
        </div>
        <div ><h1>Faculty Directory</h1>
        </div>
        <div class="table">
        
          
          <div class="row header blue">
            <div class="cell">
              Name
            </div>
            <div class="cell">
              Gender
            </div>
            <div class="cell">
              Department
            </div>
            <div class="cell">
              Email
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.sravani
            </div>
            <div class="cell" data-title="Gender">
              Female
            </div>
            <div class="cell" data-title="Department">
              CSE
            </div>
            <div class="cell" data-title="Email">
              karan@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.jannu
            </div>
            <div class="cell" data-title="Gender">
              Female
            </div>
            <div class="cell" data-title="Department">
              ECE
            </div>
            <div class="cell" data-title="Email">
              jannu@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.lavanya
            </div>
            <div class="cell" data-title="Gender">
              Female
            </div>
            <div class="cell" data-title="Department">
              Civil
            </div>
            <div class="cell" data-title="Email">
              lavanya@.ac.in
            </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.haripriya
            </div>
            <div class="cell" data-title="Gender">
              Female
            </div>
            <div class="cell" data-title="Department">
              EEE
            </div>
            <div class="cell" data-title="Email">
              priya@.ac.in
            </div>
          </div>
    
          <div class="row">
            <div class="cell" data-title="Name">
              Dr.Tanisha
            </div>
            <div class="cell" data-title="Gender">
              Female
            </div>
            <div class="cell" data-title="Department">
              mech
            </div>
            <div class="cell" data-title="Email">
              tanisha@.ac.in
            </div>
          </div>
          
        </div>
        
      </div>
    
      <app-footer></app-footer>
    
    </body>
    </html>
    
    
    
    