.w3-center{
    background-image: url("https://images.adsttc.com/media/images/5f8d/6fc5/63c0/1713/1a00/001f/newsletter/08.jpg?1603104696");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  