<section>
    <!--for demo wrap-->
    <h1>Fixed Table header</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
             
            <th>S.No</th>
            <th>SEMESTER</th>
            <th>GPA</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>1</td>
            <td>I </td>
            <td>6.5</td>            
          </tr>
          <tr>
            <td>2</td>
            <td>II</td>
            <td>7.6</td>          
          </tr>
          <tr>
            <td>3</td>
            <td>III</td>
            <td>7.4</td>          
          </tr>
          <tr>
            <td>4</td>
            <td>IV</td>
            <td>7.8</td>          
          </tr>
          <tr>
            <td>5</td>
            <td>V</td>
            <td>8.1</td>          
          </tr>
          <tr>
            <td>6</td>
            <td>VI</td>
            <td>7.9</td>          
          </tr>
          <tr>
            <td>7</td>
            <td>VII</td>
            <td>7.9</td>          
          </tr>
          <tr>
            <td>8</td>
            <td>VIII</td>
            <td>8</td>          
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  
  
  