<app-header></app-header>

<header class="w3-container w3-center"  style="padding:150px 16px" >
    <h1 class="w3-margin text-center w3-jumbo"><b>DEPARTMENT</b></h1>
  </header>

<!--   cards -->

<div class="wrapper">

    <div class="header">
      <h2 class="header__subtitle">Techversity has nine departments based on science and engineering. The curriculum features teaching of all levels and research providing a wide base of knowledge to produce quality engineers and scientists.</h2>
    </div>
  
    <div class="cards">
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>CHEMISTRY</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>CIVIL </span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>CSE</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>EEE</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>ECE</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>HUMANITIES</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>MATHEMATICS</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>MECHANICAL </span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
      <div class=" card [ is-collapsed ] ">
        <div class="card__inner [ js-expander ]">
          <span>PHYSICS</span>
          <i class="fa fa-folder-o"></i>
        </div>
        <div class="card__expander">
          <i class="fa fa-close [ js-collapser ]"></i>
          Expander
        </div>
      </div>
  
    </div>
  
  </div>
  <app-footer></app-footer>


