<h1>COURSES</h1>

<a  [routerLink]="[]" (click)="viewform(1)" ><i class="fa-solid fa-circle-plus  fa-2x" ></i></a>

  <div class="container" *ngIf="tabIndex === 1" style="width: 300px; ">
    <h2 style="color: rgb(17, 200, 0);">Add Course</h2>
   <form #form="ngForm">
    <div class="form-group">
    <label for="courseName" style="color: white;">Course Name</label>
    <input id="courseName" name="courseName" class="form-control" [(ngModel)]="course.courseName"/>
   </div>
   <div class="form-group">
    <label for="duration" style="color: white;">Course Duration</label>
    <input id="duration" name="duration" class="form-control" [(ngModel)]="course.duration"/>
   </div>
   <div class="form-group">
    <label for="courseFee" style="color: white;">Course Fee</label>
    <input id="courseFee" name="courseFee" class="form-control" [(ngModel)]="course.courseFee"/>
   </div>
   <div class="mb-3">
    <label for="deptId" class="form-label" style="color: white;">Department</label>
    <select class="form-select" #deptId="ngModel" name="deptId" [(ngModel)]="course.deptId" required>
        <option value=null>Select Department</option>
        <option value="{{dept.deptId}}" *ngFor="let dept of departments">{{dept.deptName}}</option>
    </select>
</div>
   
  
  

    <button class="btn btn-primary" (click)="postdata(form)" *ngIf="buttonview === 1">Add Course</button>
      <button class="btn btn-primary" (click)="updatedata(form)" *ngIf="buttonview === 0">Update Course</button>     
 
   </form>
   </div>
<!-- LIST -->
<table class="rwd-table" >
    <tr>
      <th>Course Id</th>
      <th>Course Name</th>
      <th>Duration</th>
      <th>courseFee</th>
      <th>deptName</th>

       
        
    </tr>
    <tr *ngFor="let item of courses" >
      <th style="color: white;">{{item.courseId}}</th>
      <th style="color: white;">{{item.courseName}}</th>
      <th style="color: white;">{{item.duration}}</th>
      <th style="color: white;">{{item.courseFee}}</th>
      <th style="color: white;">{{item.deptName}}</th>


     
     <th> <a [routerLink]="[]" (click)="Edit(item)" ><i class="fa-solid fa-pen-to-square"></i></a></th>
  
     <th> <a [routerLink]="[]"  (click)="Delete(item)"  ><i class="fa-solid fa-trash-can"></i></a></th>
     
    </tr>
    
  </table>