<header>
    
        
        <nav class="navbar">
          <ul class="nav-items">
            <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="#" class="nav-link">OFFER</a></li>
            <li class="nav-item"><a href="#" class="nav-link">SHOP</a></li>
            <li class="nav-item"><a href="#" class="nav-link">CONTACT</a></li>
          </ul>
        </nav>
        <div class="menu-toggle">
          <i class="bx bx-menu"></i>
          <i class="bx bx-x"></i>
        </div>
 


    <div class="header-banner">
       
    </div>
    <div class="clear"></div>
    <nav>
      <div class="site-title">Finland</div>
      <ul>
        <li><a href="/archive">Archive</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <a id="youtube" href="https://youtu.be/eue3UdFvwPo" target="_blank"></a>
  <div id="youtube-card">
    How to create a Stick Hero game with JavaScript and HTML Canvas
  </div>

  