<app-header></app-header>

<section class="home">
</section>
<div style="height: 100px">
  <!-- just to make scrolling effect possible -->

<marquee style="color: red; font-size: 20px;"><b>The Indian Associate of Colleges for Teacher Education (IACTE) recently named its annual Outstanding Dissertation Award in honor of James D. Anderson, professor emeritus and past dean of the College of Education, TECHVERSITY, a leading scholar of American education. Congratulations to Cecilia Vaughn-Guy, working toward her Ph.D. in Human Resource Development and Diversity & Equity in Education, on being selected to the prestigious WCPI Fellowship Program.</b></marquee>

<div class="container mt-5 mb-4">
  <h1 class="text-center"><b>TECHVERSITY</b></h1>
  <div class="row">

    <!-- cards -->
    <!-- one -->
      <div class="col-lg-15 mb-6">
         <div class="stepBox">
          <h1>MISSION</h1>
          <p>– To create the infrastructure and academic environment on par with best benchmarks. <br>   
            – To offer undergraduate, postgraduate and doctoral programmes in the technical fields of national importance.<br>
            – To collaborate for research and consultancy works with leading national and international laboratories, institutes, and industries.<br>
            – To train young minds in intellectual and ethical strengths for developing their capacity in the areas of science, engineering, and technology.<br>
            – To relentlessly pursue professional excellence with ethics.<br>
            – To implement continuously improving models of comprehensive education
          </p>
         </div>
      </div>
      <!-- two -->
      <div class="col-lg-3 mb-6">
        <div class="stepBox">
          <h1>VISION</h1>
          <p>– To be among leading Indian Institutes for Excellent, Relevant, and value based Technical Education and Research.<br>
            - To give students the best form of education a campus can provide.
          </p>
        </div>
      </div>
      <!-- three -->
      <div class="col-lg-9  mb-4">
        <div class="stepBox">
          <h1>ANNUAL REPORT</h1>
          <p> It is a silver lining to forward the first issue of the fourth volume of TECHVERSITY bi-annual newsletter, "PARIPRASHNA". When the whole world has transformed drastically to tackle COVID’19, the NITPY community has found ways to adapt and evolve in this difficult times.The successful completion of online classes and assessments and also the achievements and laurels of the faculty and students as seen from the contents of this newsletter, are proof to the fast paced adaptation and commitment to continuous learning. Even though the Institute has been functioning online, it has only opened new avenues and opportunities towards learning and excellence</p>
        </div>
      </div>

  </div>
</div>

<!-- options -->


<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title" style="color: white;">ABOUT</h2>
      <p class="copy"></p>
      <button class="btn" routerLink="/about">Click Here</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title" style="color: white;">STUDENT</h2>
      <p class="copy"></p>
      <button class="btn" routerLink="/student">Click Here</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title" style="color: white;">FACULTY</h2>
      <p class="copy"></p>
      <button class="btn" routerLink="/faculty">Click Here</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title" style="color: white;">DEPARTMENT</h2>
      <p class="copy"></p>
      <button class="btn" routerLink="/department">Click Here</button>
    </div>
  </div>
</main>

<!-- iframe -->

<br>
<br>
<h1 class="text-center">CAMPUS TOUR</h1>
<br>
<br>
<iframe class="iframe" src="https://www.youtube.com/embed/MrIhMCH5NUU" allowfullscreen >
</iframe>
<br>
<br>


<!-- circle cards -->

<h1>NEAREST LANDMARKS</h1>
<ol>
    <li >
        <div class="icon"><i class="fa-solid fa-bicycle"></i></div>
        <div class="title">Step 1</div>
        <div class="descr">Electric cycle available inside the campus.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-car"></i></div>
        <div class="title">Step 2</div>
        <div class="descr">Nearest city in 20min drive from the university.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-helicopter"></i></div>
        <div class="title">Step 3</div>
        <div class="descr">3 Helipads available inside the campus.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-plane"></i></div>
        <div class="title">Step 4</div>
        <div class="descr">Nearest airport is 90min drive, Pondicherry Domestic Airport.</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-train"></i></div>
        <div class="title">Step 5</div>
        <div class="descr">nearest railway station is 30min drive</div>
    </li>
    <li >
        <div class="icon"><i class="fa-solid fa-bus"></i></div>
        <div class="title">Step 6</div>
        <div class="descr">Nearest bus stand is 15min by walk.</div>
    </li>
</ol>

<!-- campus life -->
<div class="wrapper">
  <h1>CAMPUS LIFE</h1>
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://www.champlain.edu/assets/images/Student-Life/Update%20FA2019/campus-life-mobile.jpg)">
						<div class="inner">
							<p>Student Life</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>A residential campus with diverse housing, exceptional dining, health care and over 600 student organizations.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(http://csrbox.org/company/proj_img/1512967734arts_collage.jpg)">
						<div class="inner">
							<p>Arts & Culture</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>A rich tradition of fostering creativity and a vibrant arts district on campus.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://www.fcbarcelonanoticias.com/uploads/s1/54/72/8/msn-54728.jpeg)">
						<div class="inner">
							<p>Recreation Center</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>State-of-the-art facilities and fitness programs to encourage movement and play.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
 </div>

<!--  testimonials -->



<app-footer></app-footer>